@model Vidly.Models.Customer
@{
    string Name = this.Request.QueryString["Name"];
    
    
    <h1> @Name</h1>

    <ul>
        @if (Model.BirthDate.HasValue)
        {
            <li>Birthdate: @Model.BirthDate.Value.ToShortDateString()</li>
        }
     
        <li>Membership Type: @Model.MemberShipType.Name</li>
    </ul>
    <h1> </h1>
}