
<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div> 
                    <h4>@Html.ActionLink("Movies", "GetMovies", "Movies")</h4>
                    <h4>@Html.ActionLink("Customers", "GetCustomers", "Customer")</h4>
                    <h4>@Html.ActionLink("Contact", "Contact", "Home")</h4>
             
        </div>
    </div>